@import url("https://fonts.googleapis.com/css2?family=Skranji:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
  background-color: #222;
}

.container {
  max-width: 130rem;
  height: 100vh;
  margin: 0 auto;
  background-color: #fff;

  display: flex;
}

.left {
  flex: 4;
  display: flex;
  flex-direction: column;

  /* background-image: url(./img/bg_img.jpg);
  background-size: cover;
  background-position: center; */
  background: url(./img/bg_img.jpg) center / cover;
  color: #fff;
}

.logo-box {
  height: 15vh;
  background-color: #000;
  opacity: 0.5;
  margin-top: 20rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 12rem;
}

.title {
  font-family: "Skranji", system-ui;
  font-size: 8rem;
  text-transform: uppercase;
}

footer {
  margin-top: auto;
  margin-bottom: 1.2rem;
  font-size: 1.2rem;
  align-self: center;
}

.right {
  flex: 6;
  padding: 15rem;
  padding-left: 5rem;
}

.text {
  font-size: 2.3rem;
  font-weight: 600;
  line-height: 1.3;
}

.text.last {
  margin-top: 3rem;
}

.secondary-heading {
  margin-top: 7rem;
  margin-bottom: 2.5rem;
  font-weight: 500;
}

form {
  display: flex;
  column-gap: 8rem;
  row-gap: 3rem;
  flex-wrap: wrap;
  margin-bottom: 4rem;
}

form div {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 1.2rem;
  font-weight: 600;
  color: #666;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 1.5;
}

input {
  width: 25rem;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  border: 1px solid #e5e7eb;
  font-size: 1.5rem;
}

input:focus {
  outline: none;
  border: 1px solid #0000ff;
  box-shadow: 0.5rem 0.5rem 3rem rgba(0, 0, 0, 0.1);
}

input[type="password"]:invalid {
  outline: none;
  border-color: red;
}

hr {
  height: 3px;
  border: none;
  background-color: #ddd;

  margin-bottom: 4rem;
}

button {
  width: 20rem;
  border: none;
  padding: 1.5rem 3rem;
  background-color: #596d48;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 0.5rem;
  box-shadow: 0.5rem 1rem 2rem rgba(26, 19, 19, 0.1);
  margin-bottom: 4rem;
}

p > span {
  color: #596d48;
  font-weight: 600;
}
